In [6]:
!pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: matplotlib in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (3.10.6)
Requirement already satisfied: seaborn in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.60.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\users\alpha's\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
df = pd.read_csv("C:\\Users\\Alpha's\\OneDrive\\Desktop\\netflix_titles.csv")

In [12]:
import os

file_path = r"C:\Users\Alpha's\OneDrive\Desktop\netflix_titles.csv"

if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print("File loaded successfully ")
else:
    print(" File not found. Please check the path again.")

File loaded successfully

In [13]:
# Basic info about dataset
df.info()

# Summary statistics (for numeric and categorical)
df.describe(include="all")

# First few rows
df.head()

# Check rows & columns
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

(8807, 12)

In [14]:
# Missing values count
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [29]:
# Handling missing values
df['director'] = df['director'].fillna('Unknown')
df['cast'] = df['cast'].fillna('Unknown')
df['country'] = df['country'].fillna(df['country'].mode()[0])
df['rating'] = df['rating'].fillna('Unknown')
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Verify again
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      98
release_year     0
rating           0
duration         3
listed_in        0
description      0
dtype: int64

In [30]:
df['duration'] = df['duration'].fillna('Unknown')

In [31]:
# Drop missing 'date_added'
df = df.dropna(subset=['date_added'])

# Fill missing 'duration'
df['duration'] = df['duration'].fillna('Unknown')

# Verify again
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [32]:
print("Duplicates before:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicates after:", df.duplicated().sum())

Duplicates before: 0
Duplicates after: 0

In [33]:
# Convert text columns to lowercase & remove spaces
df['title'] = df['title'].str.lower().str.strip()
df['type'] = df['type'].str.lower()
df['listed_in'] = df['listed_in'].str.lower()

# Make countries look consistent (e.g., UsA -> Usa -> United States etc.)
df['country'] = df['country'].str.title()

# Quick preview
df[['title','type','country','listed_in']].head(10)

,title,type,country,listed_in
0,dick johnson is dead,movie,United States,documentaries
1,blood & water,tv show,South Africa,"international tv shows, tv dramas, tv mysteries"
2,ganglands,tv show,United States,"crime tv shows, international tv shows, tv act..."
3,jailbirds new orleans,tv show,United States,"docuseries, reality tv"
4,kota factory,tv show,India,"international tv shows, romantic tv shows, tv ..."
5,midnight mass,tv show,United States,"tv dramas, tv horror, tv mysteries"
6,my little pony: a new generation,movie,United States,children & family movies
7,sankofa,movie,"United States, Ghana, Burkina Faso, United Kin...","dramas, independent movies, international movies"
8,the great british baking show,tv show,United Kingdom,"british tv shows, reality tv"
9,the starling,movie,United States,"comedies, dramas"

In [34]:
# Rename columns: lowercase + underscores instead of spaces
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Verify updated column names
print(df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [35]:
# Fix datatypes
df['release_year'] = df['release_year'].astype(int)

# Verify datatypes
print(df.dtypes)

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [36]:
# Save the cleaned dataset
df.to_csv("netflix_titles_clean.csv", index=False)
print("Cleaned dataset saved as netflix_titles_clean.csv")

Cleaned dataset saved as netflix_titles_clean.csv

In [37]:
# Convert 'date_added' to dd-mm-yyyy format
df['date_added'] = df['date_added'].dt.strftime('%d-%m-%Y')

# Preview the column
df[['date_added']].head(10)

   date_added
0  25-09-2021
1  24-09-2021
2  24-09-2021
3  24-09-2021
4  24-09-2021
5  24-09-2021
6  24-09-2021
7  24-09-2021
8  24-09-2021
9  24-09-2021

In [39]:
df.to_csv(r"C:\Users\Alpha's\OneDrive\Desktop\netflix_titles_clean.csv", index=False)
print(" Cleaned dataset saved to Desktop")

 Cleaned dataset saved to Desktop